﻿@model TimeCardWeb.Models.EmployeeTimeSheetViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Clock In", "ClockIn", new { id = Model.EmployeeId}, new { @class = "btn btn-primary" })
</p>
<div>
    Timesheet Details for @Model.EmployeeName (Employee ID: @Model.EmployeeId.ToString())
</div>
<div>
    <table class="table">
        <tr>
            <th>
                Clock In
            </th>
            <th>
                Clock Out
            </th>
            <th>
               Time In Hours
            </th>
            <th>

            </th>
        </tr>
        @foreach (var item in Model.WorkShift)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClockInDateTime)
                    @Html.HiddenFor(modelItem => item.WorkShiftId)
                    @Html.HiddenFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClockOutDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeInHours)
                </td>
                <td>
                    @if (item.TimeInHours == 0)
                    { 
                        @Html.ActionLink("ClockOut", "ClockOut", new { id = item.WorkShiftId }, new { @class = "btn btn-primary" })
                     }
                </td>
            </tr>
        }
    </table>
    <div>
        Total Hours = @Model.WorkShift.Sum(x => x.TimeInHours).ToString("0.00")
    </div>
</div>
